.container {
  margin-top: 44px;
}

.collection-list-wrapper {
  display: block;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  grid-auto-columns: 1fr;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
}

.html-embed {
  margin-bottom: 13px;
}

.container-2 {
  margin-top: 112px;
}

.html-embed-2 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 26px;
  padding-bottom: 0px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.paragraph {
  width: 50%;
  color: #fff;
}

.container-3 {
  padding-top: 69px;
  border-radius: 20px;
}

.div-block-2 {
  width: 40%;
  height: auto;
  padding: 20px;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: rgba(131, 134, 143, 0.43);
}

.heading {
  color: #fff;
  font-size: 55px;
}

.div-block {
  position: static;
  left: auto;
  top: 0%;
  right: 0%;
  bottom: auto;
  display: block;
  margin-top: 211px;
}

.section {
  height: 100vh;
  background-color: #fff;
  background-image: url('../images/c.jpg');
  background-position: 0px 0px;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: Montserrat, sans-serif;
  color: #fff;
}

.text-field {
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.submit-button {
  float: right;
  background-color: #fff;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
  color: #c39e89;
  text-align: center;
}

.submit-button:hover {
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: #fcdecd;
  box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.31);
  color: #fff;
}

.heading-2 {
  margin-left: 0px;
  padding-top: 15px;
  font-size: 25px;
  font-weight: 300;
  text-align: left;
}